<form>
    <label for="pensamento">Pensamento</label>
    <input type="textarea" name="pensamento" id="pensamento" placeholder="Digite um pensamento">
    <br>
    <label for="autoria">Autoria ou Fonte</label>
    <input type="textarea" name="autoria" id="autoria" placeholder="Digite o autor(a) do pensamento/frase">
    <br>
    <label for="modelo">Selecione o modelo do card:</label>
    <!-- <br> -->
    <label for="modelo1">
        <input type="radio" id="modelo1" value="modelo1" name="modelo-card">
        modelo1
    </label>
    <label for="modelo2">
        <input type="radio" id="modelo2" value="modelo2" name="modelo-card">
        modelo2
    </label>
    <label for="modelo3">
        <input type="radio" id="modelo3" value="modelo3" name="modelo-card">
        modelo3
    </label>
    <br>
    <button>Salvar</button> <button>Cancelar</button>

</form>